<%= form_with(model: [ @city, @city.airports.build ], local: true) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.hidden_field :city_id, :value => params["id"] %>

  <%= f.submit %>
<% end %>